<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Deliberately NO INTERNET permission: v0.1 cannot send collection data anywhere. -->
    <application
        android:allowBackup="false"
        android:label="Parking Collection"
        android:theme="@style/Theme.ParkingTracker">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
